.Box {
    margin-bottom: 30px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-image: url("../../../public/images/programming.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;

}

.Turquoise{
    align-content: center;
    margin-top:3px;
    margin-bottom: 3px;
    margin-left: 10px;
    height: 32vw;
    width: 60vw;
    border-radius: 50%;
    background-color: #53C5D2;
    opacity: 70%;
    color: white;
   
}

.Textbox {
    margin-top: 8vw;
    color: white;
    justify-content: center;
    justify-items: center;
    font-size: large;
    text-align: center;
    opacity: 100%;
}

