.NavButton {
    color: #53C5D2;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    cursor: pointer;
  }
  
  
  
  .Label {
    font-size: 20px;
    text-align: right;
    background-color: white;
  }
  
  @media only screen and (max-width: 768px){
    .NavButton {
      margin: 2px 2px 2px 2px;
    }
  
    .Icon {
      font-size: 10px;
    }
    .Label{
      font-size: 15px;
      text-align: left;
    }
  }