.OuterBox {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.Menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
}

.Button {
    display: flex;
    flex-direction: column;
}

.collapsed {
  visibility: hidden;
  height: 0px;
}

.icon {
  visibility: hidden;
}


  @media screen and (max-width: 600px) {
    .Menu {
    max-height: 15px;
    visibility: hidden;
    margin-left: 10px;
  }

    .icon {
      visibility: visible;
      text-align: left;
      height: 30px;
      color: #53C5D2;
      width: 30px;
  }

    .visible {
      text-align: left;
      visibility: visible !important;
      height: 30px;
      color: #53C5D2;
      margin-bottom: 0px;
      width: 30px;
      background-color: transparent;
    }

    .OuterBox {
      width: 40px;
      margin-left: 0px;
      
    }

      
  }